datasets==2.3.2
distlib==0.3.8
distro==1.9.0
evaluate==0.1.2
filelock==3.13.3
fsspec==2022.5.0
fuzzywuzzy==0.18.0
httpcore==1.0.2
httpx==0.26.0
multiprocess==0.70.13
openai==1.8.0
pipenv==2023.12.1
platformdirs==4.2.0
pyarrow==8.0.0
pydantic==2.5.3
pydantic-core==2.14.6
pyqt5-sip==12.11.0
pyspellchecker==0.7.1
python-dotenv==1.0.0
setuptools==69.2.0
virtualenv==20.25.1
xxhash==3.0.0
